*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{   
    margin: 40px 0px;
    padding: 20px;
}
.backgroundG{
 background-color: #F5F5F5;
}
.colorido{
    background-color: #F0CCE2;
}