
.flex{ 
    /* só com isso as colunas se ajustam o tamanho */
    display: flex;

    /*  para o responsivo */
    width: 960px;
    max-width: 100%;
    flex-wrap: wrap;


}

.flex img {
    max-width: 100%;
}
.coluna{
    display: flex;
    flex-direction: column;

    background-color: blue;
    margin: 1em;
    flex: 0 1 250px;
    /*  agora usando flex basis */
}
.botao{
    color: red;
   align-self: flex-start; 
   margin-top: auto;
    
}