h1{
    color: green;
}
.paragrafo{
    background-color: red;
}
#menu{ 
    margin-left: 180px;
}
/* O id não é muito indicado para estilização */
*{
    margin: 0;
}

.titulo{
    font-size: 30px;
}

.titulo.laranja{
    color: orange;
    /* repare que não se usa espaço para classes espcíficas com 2 classes */
}
.titulo.vermelho{
    color: red;
}
.titulo .laranja{
    color: gray;
    /* com espaço é para usar uma classe dentro da classe */
}
p, span{
    font-size: 10px;
}
/* separado por virgula */

.sobre .texto{
    color: papayawhip
}
/* estiliza o elemento filho */

div > p {
    /* seleciona todos os elementos */
    color: red;
}

div + p{
    color: royalblue;
}
/* pega o seletor imediatamente depois da div e não dentro */
a[target=_blank]{
    color: red;
}
a[href="google.com"]{
    color: gray;
}